.navbar {
  padding-left: 150px;
  background-color: #007bff;
}

.column-1 {
  height: 400px;
  background-color: #6bb56b;
  border: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px
}

.column-2 {
  background-color: #299bff;
  height: 400px
}
#first-container {
  border: 1px solid black;
  border-radius: 30px;
}
/* .column-3 {
  height: 400px;
} */
.part-1 {
  background-color: #fff7bd;
  height: 133px;
  border-top-right-radius: 30px;
}
.part-2 {
  background-color: #ffed69;
  height: 133px

}
.part-3 {
  background-color: #ffe41f;
  height: 133px;
  border-bottom-right-radius: 30px;


}
.card-head {
  background-color: rgb(216, 213, 213);
  text-align: center;
}
.view-btn {
  border: 1px solid black;
}
.view {
  border-right: 1px solid black;
  text-align: center;
  width: 20px;
}
/* .third-column-1 {
    background-color: #FFF7BD;
    height: 100px;
    width: 100px
}
.third-column-2 {
background-color: #FFED69;


}
.third-column-3 {
background-color: #FFE41F;

} */

.third-rows {
  height: 100px;
}
.card-container {
  gap: 25px;
}
